{{!-- <div class="navbar-end">
  <div class="navbar-item">
    <div class="block"> --}}
      <button class="button is-primary logo" type="logout" id="logout">Log Out</button>
{{!--      
    </div>
  </div>
</div> --}}


<h2>Welcome, {{user.first_name}}!</h2>
{{! update dog profile form }}
<div class="columns">
  <div class="column">
    <form class="box update-dog-form" id="updateForm" data-action="{{actionType}}">
      <h3>Update Your Dog</h3>
      {{! dog name }}
      <div class="field">
        <label class="label pro">Dog Name:</label>
        <div class="control">
          <input class="input" type="text" id="dog-name" />
        </div>
      </div>

      {{! dog breed }}
      <div class="field">
        <label class="label pro">Dog Breed:</label>
        <div class="control">
          <input class="input" type="text" id="breed" />
        </div>
      </div>

      {{! dog size dropdown}}
      <div class="block">
        <label class="label pro">Dog Size:</label>
        <div class="select">
          <select id="size">
            <option id="small">Small</option>
            <option id="medium">Medium</option>
            <option id="large">Large</option>
          </select>
        </div>
      </div>

      {{! dog gender dropdown }}
      <div class="block">
        <label class="label pro">Dog Gender:</label>
        <div class="select">
          <select id="gender">
            <option id="male">Male</option>
            <option id="female">Female</option>
          </select>
        </div>
      </div>

      {{! zipcode }}
      <div class="field">
        <label class="label pro">Zip Code:</label>
        <div class="control">
          <input class="input" type="text" id="zipcode" />
        </div>
      </div>

      {{! preferred park }}
      <div class="field">
        <label class="label pro">Preferred Park:</label>
        <div class="control">
          <input class="input" type="text" id="park" />
        </div>
      </div>

      {{! play days check boxes }}
      <div class="block">
        <label class="label pro">Play Day:</label>
        <div class="select">
          <select id="day">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
      </div>

      {{! play times check boxes }}
      <div class="block">
        <label class="label pro">Play Time:</label>
        <div class="select">
          <select id="time">
            <option>Morning</option>
            <option>Afternoon</option>
            <option>Evening</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label pro">Add A Picture Of Your Pup!:</label>
        <div class="control">
          <input class="input" type="text" id="image" placeholder="image URL" />
        </div>
      </div>

      <button type="submit" class="button is-primary updateDog">
        {{#if user.dog}}Update Dog{{else}}Add Dog{{/if}}
      </button>
    </form>
  </div>



  <div class="column">

    {{! display profile info }}
    <div class="box">
      <h3>Your Dog</h3>
      {{! dog name }}
      <div class="block">
        <strong>Dog Name:</strong>
        {{user.dog.dog_name}}
      </div>

      {{! dog breed }}
      <div class="block">
        <strong>Dog Breed:</strong>
        {{user.dog.breed}}
      </div>

      {{! dog size }}
      <div class="block">
        <strong>Dog Size:</strong>
        {{user.dog.size}}
      </div>

      {{! dog gender }}
      <div class="block">
        <strong>Dog Gender:</strong>
        {{user.dog.gender}}
      </div>

      {{! zipcode }}
      <div class="block">
        <strong>Zip Code:</strong>
        {{user.dog.setting.zipcode}}
      </div>

      {{! Preffered Park }}
      <div class="block">
        <strong>Preferred Park:</strong>
        {{user.dog.setting.park}}
      </div>

      {{! Play Days }}
      <div class="block">
        <strong>Play Days:</strong>
        {{user.dog.setting.day}}
      </div>

      {{! Play Times }}
      <div class="block">
        <strong>Play Times:</strong>
        {{user.dog.setting.time}}
      </div>

      {{! Dog Image }}
      {{#if user.dog.img}}
      <div class="block">
        <img
          src="{{user.dog.img}}"
          alt=""
        />
      </div>
      {{/if}}
    </div>
    <button class="button is-large is-primary find-dogs mcD">Find Dogs Near You</button>
  </div>
</div>

<script src="./js/profile.js"></script>