
<div class="navbar-start">
  <div class="navbar-item">
    <div class="block">
       <button class="button is-primary backpro" type="profile" id="profile">Back To Profile</button>
    </div>
  </div>
</div>


<div class="navbar-end">
  <div class="navbar-item">
    <div class="block">
      <button class="button is-primary" type="logout" id="logout">Log Out</button>
     
    </div>
  </div>
</div>


<form class="search-zip">
  <div class="block">

    <strong><label for="zipcode" class="searchzip">Enter zipcode to search now:</label></strong>
    <input class="input" type="text" name="zipcode" id="zipcode" />
  </div>
  <button class="button is-primary" type="search" id="search">Search</button>
</form>

<div class="columns">
  {{#each dogs as |dog| }}
<div class="column">
    {{! display profile info }}
    <div class="box">
      {{! dog name }}
      <div class="block">
        <strong>Dog Name:</strong>
        {{dog.name}}
      </div>

      {{! dog breed }}
      <div class="block">
        <strong>Dog Breed:</strong>
        {{dog.breed}}
      </div>

      {{! dog size }}
      <div class="block">
        <strong>Dog Size:</strong>
        {{dog.size}}
      </div>

      {{! dog gender }}
      <div class="block">
        <strong>Dog Gender:</strong>
        {{dog.gender}}
      </div>

      {{! zipcode }}
      <div class="block">
        <strong>Zip Code:</strong>
        {{dog.owner_id.zipcode}}
      </div>

      {{! Preffered Park }}
      <div class="block">
        <strong>Preferred Park:</strong>
        {{dog.owner_id.park}}
      </div>

      {{! Play Days }}
      <div class="block">
        <strong>Play Days:</strong>
        {{dog.owner_id.day}}
      </div>

      {{! Play Times }}
      <div class="block">
        <strong>Play Times:</strong>
        {{dog.owner_id.time}}
      </div>

      {{! Dog Image }}
      <div class="block">
        <img
          src="{{dog.img}}"
          alt=""
        />
      </div>
      <div>
        <button class="button contact is-primary">Contact Me</button>
      </div>
</div>
{{/each}}

  {{!-- <div class="column">

    {{! display profile info }}
    <div class="box">
      {{! dog name }}
      <div class="block">
        <strong>Dog Name:</strong>
        Sport
      </div>

      {{! dog breed }}
      <div class="block">
        <strong>Dog Breed:</strong>
        Golden Retriever
      </div>

      {{! dog size }}
      <div class="block">
        <strong>Dog Size:</strong>
        Small
      </div>

      {{! dog gender }}
      <div class="block">
        <strong>Dog Gender:</strong>
        Male
      </div>

      {{! zipcode }}
      <div class="block">
        <strong>Zip Code:</strong>
        12345
      </div>

      {{! Preffered Park }}
      <div class="block">
        <strong>Preferred Park:</strong>
        Carmel Valley Park
      </div>

      {{! Play Days }}
      <div class="block">
        <strong>Play Days:</strong>
        Wednesday, Sunday
      </div>

      {{! Play Times }}
      <div class="block">
        <strong>Play Times:</strong>
        Afternoon
      </div>

      {{! Dog Image }}
      <div class="block">
        <img
          src="https://www.ctvsh.com/sites/default/files/styles/large/public/golden-retriever-dog-breed-info.jpg?itok=KV7Ojj-C"
          alt=""
        />
      </div>
      <div>
        <button class="button contact is-primary">Contact Me</button>
      </div>
    </div>

  </div>
  <div class="column">

    {{! display profile info }}
    <div class="box">
      {{! dog name }}
      <div class="block">
        <strong>Dog Name:</strong>
        Sport
      </div>

      {{! dog breed }}
      <div class="block">
        <strong>Dog Breed:</strong>
        Golden Retriever
      </div>

      {{! dog size }}
      <div class="block">
        <strong>Dog Size:</strong>
        Small
      </div>

      {{! dog gender }}
      <div class="block">
        <strong>Dog Gender:</strong>
        Male
      </div>

      {{! zipcode }}
      <div class="block">
        <strong>Zip Code:</strong>
        12345
      </div>

      {{! Preffered Park }}
      <div class="block">
        <strong>Preferred Park:</strong>
        Carmel Valley Park
      </div>

      {{! Play Days }}
      <div class="block">
        <strong>Play Days:</strong>
        Wednesday, Sunday
      </div>

      {{! Play Times }}
      <div class="block">
        <strong>Play Times:</strong>
        Afternoon
      </div>

      {{! Dog Image }}
      <div class="block">
        <img
          src="https://www.ctvsh.com/sites/default/files/styles/large/public/golden-retriever-dog-breed-info.jpg?itok=KV7Ojj-C"
          alt=""
        />
      </div>
      <div>
        <button class="button contact is-primary">Contact Me</button>
      </div>
    </div>

  </div>
  <div class="column">

    {{! display profile info }}
    <div class="box">
      {{! dog name }}
      <div class="block">
        <strong>Dog Name:</strong>
        Sport
      </div>

      {{! dog breed }}
      <div class="block">
        <strong>Dog Breed:</strong>
        Golden Retriever
      </div>

      {{! dog size }}
      <div class="block">
        <strong>Dog Size:</strong>
        Small
      </div>

      {{! dog gender }}
      <div class="block">
        <strong>Dog Gender:</strong>
        Male
      </div>

      {{! zipcode }}
      <div class="block">
        <strong>Zip Code:</strong>
        12345
      </div>

      {{! Preffered Park }}
      <div class="block">
        <strong>Preferred Park:</strong>
        Carmel Valley Park
      </div>

      {{! Play Days }}
      <div class="block">
        <strong>Play Days:</strong>
        Wednesday, Sunday
      </div>

      {{! Play Times }}
      <div class="block">
        <strong>Play Times:</strong>
        Afternoon
      </div>

      {{! Dog Image }}
      <div class="block">
        <img
          src="https://www.ctvsh.com/sites/default/files/styles/large/public/golden-retriever-dog-breed-info.jpg?itok=KV7Ojj-C"
          alt=""
        />
      </div>
      <div>
        <button class="button contact is-primary">Contact Me</button>
      </div>
    </div>

  </div> --}}
</div>

<script src="./js/search.js"></script>