<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <div class="block buttons are-normal">
        <a
          class="button is-primary backpro searchProfile"
          type="profile"
          id="profile"
        >Back To Profile</a>
        <a
          class="button is-primary logo searchLogout"
          type="logout"
          id="logout"
        >Log Out</a>
      </div>
    </div>
  </div>
</div>

<form class="search-zip">
  <div class="block">

    <strong><label for="zipcode" class="searchzip">Enter zipcode to search now:</label></strong>
    <input class="input" type="text" name="zipcode" id="zipcode" />
  </div>
  <button class="button is-primary" type="search" id="search">Search</button>
</form>

<div class="dog-profile">
  {{#each dogs as |dog|}}

    {{! display profile info }}
    <div class="box search-results">
      {{! dog name }}
      <div class="block">
        <strong>Dog Name:</strong>
        {{dog.dog.dog_name}}
      </div>

      {{! dog breed }}
      <div class="block">
        <strong>Dog Breed:</strong>
        {{dog.dog.breed}}
      </div>

      {{! dog size }}
      <div class="block">
        <strong>Dog Size:</strong>
        {{dog.dog.size}}
      </div>

      {{! dog gender }}
      <div class="block">
        <strong>Dog Gender:</strong>
        {{dog.dog.gender}}
      </div>

      {{! zipcode }}
      <div class="block">
        <strong>Zip Code:</strong>
        {{dog.zipcode}}
      </div>

      {{! Preffered Park }}
      <div class="block">
        <strong>Preferred Park:</strong>
        {{dog.park}}
      </div>

      {{! Play Days }}
      <div class="block">
        <strong>Play Days:</strong>
        {{dog.day}}
      </div>

      {{! Play Times }}
      <div class="block">
        <strong>Play Times:</strong>
        {{dog.time}}
      </div>

      {{#if dog.dog.img}}
        {{! Dog Image }}
        <div class="block">
          <img src="{{dog.dog.img}}" alt="" />
        </div>
      {{/if}}

      <div>
        <a
          class="button contact is-primary"
          href="mailto:{{dog.dog.owner.email}}"
        >Contact Me</a>
      </div>

    </div>

  {{/each}}
</div>

<script src="/js/search.js"></script>